.Cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* flex-direction:row; */
    justify-content:space-evenly;
    align-content: space-evenly;
    gap:7vw;
}
.Card1:hover{
    box-shadow: 7px 7px 3px gray,-7px 7px 3px gray,-7px -7px 3px gray,7px -7px 3px gray ;

}